<!-- <div style="width:80%; margin-left: auto; margin-right: auto;max-width: 100%;padding-top: 100px"> -->
    <div style="width: 80%; margin: 0 auto; text-align: center;">
    <h1>Welcome to CHESS!</h1>
    <h2>Current Player: {{currentPlayer}}</h2>
    <div style="display: flex;justify-content: center;margin-left: 10%;margin-right: 10%">
        <iframe id = "iframe1" #iframe1Ref style="margin-left:auto;" width="100%" height="512" scrolling = "no" frameBorder="0" [src]="urlSafe"></iframe>
        <iframe id = "iframe2" #iframe2Ref style="margin-right:auto;" width="100%" height="512" scrolling = "no" frameBorder="0" [src]="urlSafe"></iframe>    
    </div>
    <div style="display:flex;justify-content: center;margin-bottom: 20px;">
        <button type="button" class="btn"
        (click)="createNewGame()">Create new game
    </button>
    
    </div>
   
</div>


